:root{
  --primary: #F9F7F7;
  --secondary: #DBE2EF;
  --primary-dark: #3F72AF;
  --secondary-dark: #112D4E;

  --message-error: #FF0000;
  --message-warning: #FFA500;
  --message-ok: #008000;
}

body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}